{% include 'header.html' %}
{% include 'nav.html' %}

<head>
  <link rel="stylesheet" type="text/css" href="/source_optics/static/tables.css">
</head>

{% if has_prev %}<a href="{{ prev_link }}" class="pageNum">&lt;&lt;</a>{% else %}<a class="pageNum"></a>{% endif %} page
{{ page_number }} {% if has_next %}<a href="{{ next_link }}">&gt;&gt;</a>{% endif %}

<div class="row">

  <div id="commitGrid" class="ag-theme-balham column">

    <script type="text/javascript" charset="utf-8">

      {% include 'tables.js' %}

      // The row height of one line of text
      const rowHeight = 28;

      var commitColumnDefs = [
        {
          headerName: "{{ commit_header }}",
          children: [
            { headerName: "Date", field: "commit_date", sortable: true, filter: true, autoHeight: true, cellClass: "cell-wrap-text", maxWidth: 175 },
            { headerName: "Commit Message", field: "subject", sortable: true, filter: true, autoHeight: true, cellClass: "cell-wrap-text" }
          ]
        },
      ];

      var commitRowData = {{ commits_table_json | safe }};
      var commitGridOptions = {
        columnDefs: commitColumnDefs,
        rowData: commitRowData,
        domLayout: "autoHeight",
        onRowClicked: this.rowClicked.bind(this),
        onGridReady: function () {
          // This only works correctly (being able to expand and collapse rows by clicking
          // them) if they start expanded and then they are iteratively collapsed
          commitGridOptions.api.forEachNode(function (rowNode) {
            rowNode.setRowHeight(rowHeight);
          });
          commitGridOptions.api.onRowHeightChanged();
          commitGridOptions.api.sizeColumnsToFit();
        }
      };
      var eGridDiv = document.querySelector('#commitGrid');
      thisGrid = new agGrid.Grid(eGridDiv, commitGridOptions);

      // When a row is clicked, we switch autoHeight, then check if autoHeight is true 
      // (the row should be expanded), or autoHeight is false (the row should be collapsed)
      function rowClicked(event) {
        event.node.autoHeight = !event.node.autoHeight;
        if (event.node.autoHeight) {
          event.node.setRowHeight(null);
        } else {
          event.node.setRowHeight(rowHeight);
        }
        commitGridOptions.api.onRowHeightChanged();
      }

    </script>

  </div>

  <div id="logGrid" class="ag-theme-balham column">

    <script type="text/javascript" charset="utf-8">

      {% include 'tables.js' %}

      var logColumnDefs = [
        {
          headerName: "{{ log_header }}",
          children: [
            { headerName: "Date", field: "log_date", sortable: true, filter: true, autoHeight: true, cellClass: "cell-wrap-text", maxWidth: 175 },
            { headerName: "Type", field: "log_type", sortable: true, filter: true, autoHeight: true, cellClass: "cell-wrap-text", maxWidth: 80 },
            { headerName: "Hours", field: "hours", sortable: true, filter: true, autoHeight: true, cellClass: "cell-wrap-text", maxWidth: 80 },
            { headerName: "Comments", field: "comments", sortable: true, filter: true, autoHeight: true, cellClass: "cell-wrap-text" }
          ]
        }
      ]

      var logRowData = {{ logs_table_json | safe }};
      var logGridOptions = {
        columnDefs: logColumnDefs,
        rowData: logRowData,
        domLayout: "autoHeight",
        suppressHorizontalScroll: true,
        onRowClicked: this.rowClicked.bind(this),
        onGridReady: function () {
          // This only works correctly (being able to expand and collapse rows by clicking
          // them) if they start expanded and then they are iteratively collapsed
          logGridOptions.api.forEachNode(function (rowNode) {
            rowNode.setRowHeight(rowHeight);
          });
          logGridOptions.api.onRowHeightChanged();
          logGridOptions.api.sizeColumnsToFit();
        }
      };
      var eGridDiv = document.querySelector('#logGrid');
      thisGrid = new agGrid.Grid(eGridDiv, logGridOptions);

      // When a row is clicked, we switch autoHeight, then check if autoHeight is true 
      // (the row should be expanded), or autoHeight is false (the row should be collapsed)
      function rowClicked(event) {
        event.node.autoHeight = !event.node.autoHeight;
        if (event.node.autoHeight) {
          event.node.setRowHeight(null);
        } else {
          event.node.setRowHeight(rowHeight);
        }
        logGridOptions.api.onRowHeightChanged();
      }

    </script>

  </div>

</div>

{% include 'footer.html' %}