
{% include 'header.html' %}
{% include 'nav.html' %}

{% comment %}
FIXME: pagination below should be in an included template
{% endcomment %}

{% if path and file %}
Showing commits to {{path}}/{{file}}. <a href="/reports/commits?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}">Clear filter.</a><br/><br/>
{% elif path %}
Showing commits to files in {{path}}. <a href="/reports/commits?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}">Clear filter.</a><br/><br/>
{% elif file %}
Showing commits to any file named {{file}}. <a href="/reports/commits?repo={{ repo }}&start={{ start_str }}&end={{ end_str }}">Clear filter.</a><br/><br/>
{% endif %}


{% if has_prev %}<a href="{{ prev_link }}">&lt;&lt;</a>{% endif %} page {{ page_number}}{% if has_next %}<a href="{{ next_link }}">&gt;&gt;</a>{% endif %}

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">


    function detailsLinkCell(params) {
        return "<a href='/report/log_details?author=" + params.value + "&start={{ start_str }}&end={{ end_str }}'><i class='fas fa-book'></i> More details for author</a>"
    }

    var columnDefs = [
        {headerName: "Author",         field: "author", sortable: true, filter: true, resizable: true, },
        {headerName: "Commit Summary", field: "commit_summary", sortable: true, filter: true, resizable: true, },
        {headerName: "Log Summary",    field: "log_summary", sortable: true, filter: true, resizable: true, },
        {headerName: "",               field: "author_id", cellRenderer: detailsLinkCell, sortable: false, filter: false, resizable: true, }
    ];

    var rowData = {{ table_json | safe }};
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };
    var eGridDiv = document.querySelector('#myGrid');
    thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

</script>

</div>

{% include 'footer.html' %}


