{% include 'header.html' %}
{% include 'nav.html' %}

<style>

html, body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #EEE;
  color: #333;
}

.search-bar-container {
  width: 600px;
  margin: 0 auto;
  display: flex;
}

.search-bar {
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 32px;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 600px;
  -webkit-transition: box-shadow 250ms;
  transition: box-shadow 250ms;
  flex-grow: 1;
}
.search-bar:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#data-select {
  margin-left: 16px;
}

#card-container-outer {
  height: 100%
}

.card-container {
  height: 100%;
  margin: 64px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 0;
  min-width: 0px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 32px;
  background: #FFF;
  margin-right: 32px;
  margin-bottom: 32px;
  min-width: auto;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
}

.card-stats {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 32px 0;
}

.card-stat {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-right: 16px;
  margin-bottom: 16px;
}

.card-stat-name {
  font-weight: bold;
}

.card-punchcard {
  margin: auto;
}
</style>

<div class="search-bar-container">
  <input class="search-bar" id="punchcard-search-input" placeholder="Search" />
  <select id="data-select">
    <option value="commits" selected>Commits</option>
    <option value="linesAdded">Lines Added</option>
    <option value="linesRemoved">Lines Removed</option>
    <option value="linesChanged">Lines Changed</option>
    <option value="logs">Logs</option>
  </select>
</div>

<div id="card-container-outer"></div>

<script src="/source_optics/static/vendor/phelio-punchcard.min.js"></script>

<script>
const data = {{ punchcard_data | safe }};
console.log(data);
const params = new URLSearchParams(window.location.search.slice(1));

const commitData = data.reduce((acc, authorData) => [
  ...acc,
  ...authorData.commits.map(commit => ({
    id: authorData.author_email,
    date: commit.commit_date,
  }))
], []);

const linesAddedData = data.reduce((acc, authorData) => [
  ...acc,
  ...authorData.commits.map(commit => ({
    id: authorData.author_email,
    date: commit.commit_date,
    value: commit.lines_added
  }))
], []);

const linesRemovedData = data.reduce((acc, authorData) => [
  ...acc,
  ...authorData.commits.map(commit => ({
    id: authorData.author_email,
    date: commit.commit_date,
    value: commit.lines_removed
  }))
], []);

const linesChangedData = data.reduce((acc, authorData) => [
  ...acc,
  ...authorData.commits.map(commit => ({
    id: authorData.author_email,
    date: commit.commit_date,
    value: commit.lines_changed
  }))
], []);

const logsData = data.reduce((acc, authorData) => [
  ...acc,
  ...authorData.logs.map(log => ({
    id: authorData.author_email,
    date: log.log_date,
    value: log.log_hours,
  }))
], []);

console.log(logsData);

const commitsSVGs = new PhelioPunchcard.PunchcardsBuilder(
  commitData,
  {
    maxColor: '#990000',
    startAtRatio: 0.25,
    converterFunction: PhelioPunchcard.convertDateData,
  },
).getAllSVGs();

const linesAddedSVGs = new PhelioPunchcard.PunchcardsBuilder(
  linesAddedData,
  {
    maxColor: '#990000',
    startAtRatio: 0.25,
    converterFunction: PhelioPunchcard.convertDateAndValueData,
  },
).getAllSVGs();

const linesRemovedSVGs = new PhelioPunchcard.PunchcardsBuilder(
  linesRemovedData,
  {
    maxColor: '#990000',
    startAtRatio: 0.25,
    converterFunction: PhelioPunchcard.convertDateAndValueData,
  },
).getAllSVGs();

const linesChangedSVGs = new PhelioPunchcard.PunchcardsBuilder(
  linesChangedData,
  {
    maxColor: '#990000',
    startAtRatio: 0.25,
    converterFunction: PhelioPunchcard.convertDateAndValueData,
  },
).getAllSVGs();

const logsSVGs = new PhelioPunchcard.PunchcardsBuilder(
  logsData,
  {
    maxColor: '#990000',
    startAtRatio: 0.25,
    converterFunction: PhelioPunchcard.convertDateAndValueData,
  }
).getAllSVGs();

const cardContainer = document.querySelector('#card-container-outer');

const commitsEl = document.createElement('div');
commitsEl.classList.add('card-container');
commitsEl.innerHTML = data.map(authorData => `
  <div class="card">
    <div class="card-title">${authorData.author_name}</div>
    ${commitsSVGs[authorData.author_email].replace('svg', 'svg class="card-punchcard"')}
  </div>
`).join('');
cardContainer.appendChild(commitsEl);

const linesAddedEl = document.createElement('div');
linesAddedEl.classList.add('card-container');
linesAddedEl.innerHTML = data.map(authorData => `
  <div class="card">
    <div class="card-title">${authorData.author_name}</div>
    ${linesAddedSVGs[authorData.author_email].replace('svg', 'svg class="card-punchcard"')}
  </div>
`).join('');
cardContainer.appendChild(linesAddedEl);

const linesRemovedEl = document.createElement('div');
linesRemovedEl.classList.add('card-container');
linesRemovedEl.innerHTML = data.map(authorData => `
  <div class="card">
    <div class="card-title">${authorData.author_name}</div>
    ${linesRemovedSVGs[authorData.author_email].replace('svg', 'svg class="card-punchcard"')}
  </div>
`).join('');
cardContainer.appendChild(linesRemovedEl);

const linesChangedEl = document.createElement('div');
linesChangedEl.classList.add('card-container');
linesChangedEl.innerHTML = data.map(authorData => `
  <div class="card">
    <div class="card-title">${authorData.author_name}</div>
    ${linesChangedSVGs[authorData.author_email].replace('svg', 'svg class="card-punchcard"')}
  </div>
`).join('');
cardContainer.appendChild(linesChangedEl);

const logsEl = document.createElement('div');
logsEl.classList.add('card-container');
logsEl.innerHTML = data.map(authorData => logsSVGs[authorData.author_email] ? `
  <div class="card">
    <div class="card-title">${authorData.author_name}</div>
    ${logsSVGs[authorData.author_email].replace('svg', 'svg class="card-punchcard"')}
  </div>
` : '').join('');
cardContainer.appendChild(logsEl);

document.getElementById('punchcard-search-input').value = params.get('q_authors');

document.getElementById('punchcard-search-input').addEventListener('keyup', event => {
  if (event && event.key === 'Enter' && event.target.value !== params.get('q_authors')) {
    params.set('q_authors', event.target.value);
    window.location.search = params.toString();
  }
});

commitsEl.hidden = false;
linesAddedEl.hidden = true;
linesRemovedEl.hidden = true;
linesChangedEl.hidden = true;
logsEl.hidden = true;

document.getElementById('data-select').addEventListener('change', event => {
  commitsEl.hidden = true;
  linesAddedEl.hidden = true;
  linesRemovedEl.hidden = true;
  linesChangedEl.hidden = true;
  logsEl.hidden = true;
  switch (event.target.value) {
    case 'commits':
      commitsEl.hidden = false;
      break;
    case 'linesAdded':
      linesAddedEl.hidden = false;
      break;
    case 'linesRemoved':
      linesRemovedEl.hidden = false;
      break;
    case 'linesChanged':
      linesChangedEl.hidden = false;
      break;
    case 'logs':
      logsEl.hidden = false;
    default:
      break;
  }
})
</script>

{% include 'footer.html' %}
