
{% include 'header.html' %}

<!-- FIXME: context aware H1 + title -->

{% include 'nav.html' %}

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">

    {% include 'tables.js' %}

    function authorNavCell(params) {
      return authorNav(params.value)
    }

    function repoNavCell(params) {
        return repoNav(params.value)
    }

    var columnDefs = [
        {% if repo %}
        {headerName: "Author",              field: "author_name", sortable: true, filter: true, resizable: true },
        {headerName: "Email",               field: "author", sortable: true, filter: true, resizable: true, },
        {headerName: "Explore",             field: "author", cellRenderer: authorNavCell, resizable: true, },
        {% endif %}
        {% if author %}
        {headerName: "Repo",                field: "repo", sortable: true, filter: true, resizable: true, },
        {headerName: "Explore",             field: "repo", cellRenderer: repoNavCell, resizable: true, },
        {% endif %}
        {headerName: "L+",                  field: "lines_added", sortable: true, filter: true, resizable: true, },
        {headerName: "L-",                  field: "lines_removed", sortable: true, filter: true, resizable: true, },
        {headerName: "Commits",             field: "commit_total", sortable: true, filter: true, resizable: true, },
        {headerName: "File Changes",        field: "file_changes", sortable: true, filter: true, resizable: true, },
        {headerName: "Days Active",         field: "days_active", sortable: true, filter: true, resizable: true, },
        {headerName: "Total Log Hours",     field: "total_log_hours", sortable: true, filter: true, resizable: true, },
        {headerName: "Latest Commit Date",  field: "latest_commit_date", type: 'dateColumn', sortable: true, filter: true, resizable: true, },
    ];

    var rowData = {{ table_json | safe }};
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData,
      paginationAutoPageSize: true,
      pagination: true,
      onFirstDataRendered: onFirstDataRendered
    };

    function onFirstDataRendered(params) {
         params.api.sizeColumnsToFit();
    }

    var eGridDiv = document.querySelector('#myGrid');
    thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

</script>

</div>

{% include 'footer.html' %}



